<div class="container-fluid py-5">
  <div class="row">

    <div class="col-12 col-lg-6 mb-5">
      <h1 class="page-title">Published posts</h1>
      <%= render 'post_list', collection: @posts, view: "View" %>
    </div>

    <div class="col-12 col-lg-6">
      <h1 class="page-title">Drafts</h1>
      <%= render 'post_list', collection: @drafts, view: "Preview" %>
    </div>

  </div>
</div>
