<div class="d-flex flex-column h-100 justify-content-end">
  <%= render 'shared/menu' %>
  <div id="logo-container">
    <%= link_to root_path  do %>
    <h1 id="logo">Shutter Mushi</h1>
    <% end %>
  </div>
</div>
