
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to "All Posts", posts_path %>
    </li>
    <li class="list-group-item">
      <%= link_to "All Photos", polaroids_path %>
    </li>
    <li class="list-group-item">
      <%= link_to "New Post", posts_path, method: :post %>
    </li>
  </ul>
  <h1 id="logo">Shutter Mushi</h1>

