<div class="polaroid">
  <%= cl_image_tag polaroid.photo.key %>
  <% if polaroid.photo.analyzed? %>
    <div class="polaroid-metadata">
      <ul class="polaroid-metadata-list">
        <%= render 'components/metadata', polaroid: polaroid %>
      </ul>
    </div>
  <% end %>
</div>
