<%= link_to url_for(polaroid.photo.blob), class: "polaroid-link col-12 col-md-6 col-lg-4 mb-4" do %>
<div class="polaroid">
  <%= cl_image_tag polaroid.photo.key, width: "1000" %>
  <% if polaroid.photo.analyzed? %>
    <div class="polaroid-metadata">
      <ul class="polaroid-metadata-list">
        <%= render 'components/metadata', polaroid: polaroid %>
      </ul>
    </div>
  <% end %>
</div>
<% end %>
