<div class="polaroid">
  <%= cl_image_tag polaroid.photo.key %>
  <% if polaroid.photo.analyzed? %>
    <div class="polaroid-metadata">
      <%= render 'components/metadata', polaroid: polaroid %>
    </div>
  <% end %>
</div>
