// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #60b979;
$gray: #0E0000;

$dark-gray: #2c302eff;
$medium-gray: #474a48ff;
$light-gray: #909590ff;
$dark-yellow: #ffc43dff;
$light-cream: #f2f2eb;
$cream: #e9e4df;
$dark-brown: #564e46;
