.dashboard-post-list {
  .list-group-item {
    background: transparent;
    padding-left: 0;
    border: 0;
    border-bottom: 1px dotted $dark-brown;
    &:last-child {
      border-bottom: 0;
    }
  }
  .badge-primary {
    background-color: $dark-yellow;
    color: $dark-brown;
  }
  .badge-light {
    background-color: $light-cream;
  }
}
