#post-page-header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 30vh;
  align-items: flex-end;
  padding-bottom: 0;
  position: relative;
  h1 {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    color: $light-yellow;
    text-transform: lowercase;
    font-weight: 400;
    line-height: .70em;
    font-size: 5rem;
  }
  &:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,.4) 0%, rgba(255,255,255,0) 100%);
  }
}

#post-page-content {
  img {
    display: block;
    width: 100%;
    height: auto;
    padding: 1em 0;
  }
}

#post-page-container {
  max-width: 800px;
}

.post-page-meta {
  font-family: $monospace-font;
}
