<% if user_signed_in? %>
  <li class="list-group-item">
    <%= link_to 'Logout', destroy_user_session_path, method: :delete  %>
  </li>
  <li class="list-group-item">
    <%= link_to "New Post", posts_path, method: :post %>
  </li>
  <li class="list-group-item">
    <%= link_to "Dashboard", dashboard_index_path  %>
  </li>
<% end %>
