<ul class="list-group">
 <li class="list-group-item">
    <%= link_to "All Posts", posts_path %>
  </li>
  <li class="list-group-item">
    <%= link_to "All Photos", polaroids_path %>
  </li>
  <li class="list-group-item">
    <%= link_to "New Post", posts_path, method: :post %>
  </li>
  <li class="list-group-item">
    <%= link_to "Stats", stats_path %>
  </li>
  <li class="list-group-item dropdown">
    <a class="dropdown-toggle" data-target="#dropdown" href="#" id="navbarDropdown" role="button" data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </a>
    <div class="collapse" id="dropdown" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
    </div>
  </li>
</ul>
