<div class="navbar navbar-expand-md navbar-light d-flex justify-content-between">
    <%= link_to root_path do %><h1 class="navbar-brand">Shutter Mushi</h1><% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= render 'shared/menu' %>
    </div>
</div>
