<div class="jumbotron main-page-header" style="background-image: url(<%= asset_url('header.jpg') %>)">

</div>
<div class="container-fluid">
  <div class="row">
    <%= render 'posts/post_grid', posts: @posts %>
  </div>
</div>
