<div class="container-fluid">

  <div class="row">
      <% @posts.each do |post| %>
        <div class="col-12 col-md-6 col-lg-4 mb-5">
          <div class="post">

            <% if post.photos.any? %>
              <%= cl_image_tag post.photos.first.key, class:"post-photo-featured" %>
            <% end %>
            <div class="post-meta">
              <h2><%= post.title %></h2>
              <div class="post-date"><%= post.created_at.strftime('%Y-%m-%d') %></div>
            </div>
            <%= link_to "", post_path(post), class: "full-link" %>
          </div>
        </div>


      <% end %>

  </div>

</div>
