.chocolat-wrapper .chocolat-right {
  background-image: asset-url("right.png");
}

.chocolat-wrapper .chocolat-left {
  background-image: asset-url("left.png");
}

.chocolat-wrapper .chocolat-close {
  background-image: asset-url("close.png");
}

.chocolat-wrapper .chocolat-fullscreen {
  background-image: asset-url("fullscreen.png");
}

.chocolat-wrapper .chocolat-loader {
  background-image: asset-url("loader.gif");
}
