.polaroid {
  position: relative;
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
  &:hover .polaroid-metadata {
    // display: flex;
    opacity: 100%;
  }
}

.polaroid-metadata {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.5);
  color: white;
  opacity: 0;
  transition: 200ms;
}

.polaroid-metadata-list {
  list-style: none;
  margin-left: 0;
  i {
    margin-right: 16px;
  }
}

.polaroid-link {
  flex: 1 0 400px;
}
