.polaroid {
  position: relative;
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
  width: 33.33%;
  &:hover .polaroid-metadata {
    display: block;
  }
}

.polaroid-metadata {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
}
