
.post-photo-featured {
  display: block;
  width: 80%;
  margin-left: 20%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  transition: 200ms;
  position: absolute;
  bottom: 0;
  height: 300px;
}



.post {
  position: relative;
  margin: 2.5em;
  height: 375px;
  overflow: hidden;
  &:hover .post-photo-featured {
    width: 100%;
    margin-left: 0;
    height: 100%;
  }
  &:hover .post-date {
    background-color: $cream;
    color: $dark-brown;
    padding: 0 .5em;
    transition: 250ms;
    right: 0;
  }
}

.col-12:first-child .post-photo-featured {
  width: 100%;
  height: 100%;
  margin-left: 0;
}

.post-date {
  display: inline-block;
  font-family: $monospace-font;
  position: relative;
  right: 100%;
}

.post-meta {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  h2 {
    font-size: 4rem;
    font-weight: 500 !important;
    text-shadow: 2px 1px 0 #c5c5b1;
    text-transform: lowercase;
  }
}

@include media-breakpoint-down(md) {
  .post-meta h2 {
    font-size: 3.5rem;
  }
  .post {
    margin: 1em;
  }
}
