#sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 0;
  border-right: 1px solid $dark-yellow;
  background-color: #e9e4df;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23564e46' fill-opacity='0.21' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

#logo {
  line-height: .85em;
  text-transform: uppercase;
  text-align: right;
  color: $dark-yellow;
  text-shadow: 1px 1px 0 $dark-brown;
  padding: .5em .25em;
  border-top: 1px dotted $dark-yellow;
  font-weight: 800;
}

#logo-container {
  height: 30vh;
  background-image: asset_url('self.png');
  background-size: cover;
}

#sidebar .list-group-item {
  background: transparent;
  padding: 0;
  text-transform: lowercase;
  border: 0;
  transition: 300ms;
  font-family: $monospace-font;
  font-size: 1.2em;
  a {
    color: $dark-brown;
    display: block;
    padding: .25em .75em;
  }
}

#sidebar .dropdown-item.active, #sidebar .dropdown-item:active {
    color: $dark-brown;
    text-decoration: none;
    background-color: white;
}


#sidebar .list-group-item.active, #sidebar .list-group-item:hover {
  background: white;
  border-right: 5px solid $dark-yellow;
  position: relative;
  width: calc(100% + 5px);
  z-index: 9999;
}

@include media-breakpoint-down(sm) {
  #sidebar {
    display: none !important;
  }
}
