#sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 0;
  border-right: 1px solid $dark-yellow;
}

#logo {
  line-height: .85em;
  text-transform: uppercase;
  text-align: right;
  color: $dark-yellow;
  text-shadow: 2px 2px 0 $medium-gray;
  padding: .5em .25em;
  border-top: 1px dotted $dark-yellow;
}

#sidebar .list-group {

}

#sidebar .list-group-item {
  background: transparent;
  padding: 0;
  text-transform: uppercase;
  border: 0;
  transition: 300ms;
  a {
    color: $dark-brown;
    display: block;
    padding: .25em .75em;
  }
}

#sidebar .list-group-item.active, #sidebar .list-group-item:hover {
  background: white;
  border-right: 5px solid $dark-yellow;
  position: relative;
  width: calc(100% + 5px)
}
