// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



body {
  background-color: $dark-gray;
  color: $cream;
}


.main-container {
  min-height: 100vh;
}


#content {
  background-color: lighten($dark-gray, 3%);
}

a {
  color: $dark-yellow;
  &:hover {
    color: darken($dark-yellow, 10%);
    text-decoration: none;
  }
}

.post-photo-featured {
  display: block;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}

.post-header {
  position: relative;
  img {
    z-index: 0;
  }
  &:after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(255,255,255,0) 100%);
    z-index: 1;
  }
}

.post-header h2 {
  position: absolute;
  bottom: 12px;
  left: 15px;
  margin-bottom: 0;
  // padding: .25em .25em;
  // background-color: $dark-gray;
  color: $dark-yellow;
  z-index: 2;
}

.post-date {
  position: absolute;
  right: 15px;
  bottom: 12px;
  z-index: 2;
  color: $dark-yellow;
}
