// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "chocolat/dist/css/chocolat";
@import "select2/dist/css/select2";

// Your CSS partials
@import "components/index";
@import "pages/index";


h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}


body {
  background-color: $cream;
  color: $dark-gray;
}

.full-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


.main-container {
  min-height: 100vh;
}


a {
  color: $dark-yellow;
  &:hover {
    color: darken($dark-yellow, 10%);
    text-decoration: none;
  }
}


#content {
  padding-left: 0;
  padding-right: 0;
}

.page-title {
  display: inline-block;
  font-family: "Cutive mono";
  padding: 0 .25em;
  position: relative;
  // color: #ffffff;
  color: $dark-brown;
  letter-spacing: -.1em;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
    box-shadow: 3px 3px 3px #dad5d0;
  }
}
