// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



body {
  background-color: #e9e4df;
  color: $dark-gray;
}


.main-container {
  min-height: 100vh;
}


#content {
  background-color: lighten($dark-gray, 3%);
}

a {
  color: $dark-yellow;
  &:hover {
    color: darken($dark-yellow, 10%);
    text-decoration: none;
  }
}

.post-photo-featured {
  display: block;
  width: 80%;
  margin-left: 20%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  transition: 200ms;
  position: absolute;
  bottom: 0;
  height: 200px;
}



.post {
  position: relative;
  // background-color: #d4cdc5;
  margin: 2.5em;
  height: 275px;
  &:hover .post-photo-featured {
    width: 100%;
    margin-left: 0;
    height: 100%;
  }
  &:hover .post-date {
    display: block;
    transition: 200ms;
  }
}

.post-date {
  display: none;
}

.post-meta {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  h2 {
    font-size: 5rem;
    font-weight: 500 !important;
    text-shadow: 2px 1px 0 #c5c5b1;
    text-transform: lowercase;
  }
}



